
.modal{
    z-index: 2000000;
}
.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: vertical;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Write memo here...";
    color: gray;
}

.textarea[contenteditable]:focus {
    border: 2px solid #ddd;
    box-shadow: none;
}

#memo-content-editor {
    border: 1px solid #ddd;
    padding: 8px;
    min-height: 70px;
}

#memo-content-editor:focus {
    outline: none;
    border: 1px solid #ddd;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    /* background-color: #f5f2f0; */
    background: #e2e1e0;
    position: relative;
}

/* Conatiner layout */

main {
    width: 95%;
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    /* place-items: center; */
}

.container {
    width: 96%;
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
    /* place-items: center; */

}

/* End of container layout */

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    border-radius: 2px;
}

.card.memo {
    width: 342px;
    height: 342px;
}

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card.default {

    background: rgba(0, 0, 0, 0.16);

    cursor: pointer;
    border-radius: 5px;
}

.card.default:hover {
    background: rgba(0, 0, 0, 0.08);
}

.card.default i {
    color: #424242;
    font-size: 96px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Loader progress */

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding: 0 5px 8px 0;
    background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%) 200% 100%/200% 3px no-repeat;
    animation: l3 2s steps(6) infinite;
    padding-bottom: 16px;
}

.loader:before {
    content: "Please wait..."
}

@keyframes l3 {
    to {
        background-position: 80% 100%
    }
}

/* End of Loader */

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
}

.overlay-item {
    color: white;
}


.memo {
    color: black;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: left;
    cursor: pointer;
}

.memo-text-preview {
    color: black;
    font-size: 18px;
    height: 100%;
    width: 100%;
    padding: 6px;
    overflow-y: auto;
    white-space: pre-line;
    margin-bottom: 38px;
}

.memo-timestamp {
    font-size: 14px;
    margin-left: auto;
    padding: 6px;
}

.memo-footer-bar {
    height: 32px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.memo-footer-bar i {
    padding-left: 3px;
    cursor: pointer;
}

.memo-footer-bar i:hover {
    color: #525252;
}

.memo-menu {
    /* margin-left: auto; */
}

/* Memo popup menu */
/* .memo-popup-menu {
    position: absolute;
    right: 10px;
    bottom: 40px;
    background: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: none;
    z-index: 10;
    min-width: 100px;
  } */

.memo-popup-menu {
    position: absolute;
    left: 10px;
    bottom: 40px;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    display: none;
    z-index: 1000;
    min-width: 120px;
    padding: 5px;
}


.memo-popup-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.memo-popup-menu li {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.memo-popup-menu li:hover {
    background: #f1f1f1;
}

/* Floating Button */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

.absolute-right-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 16px;
}

.fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: #36454F
}

.fab i {
    color: white;
    font-weight: bolder;
    font-size: 32px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .fab {
        width: 48px;
        height: 48px;
    }

    .card.memo {
        width: 95%;
        height: 332px;
    }

    .bottom-sheet {
        width: 95% !important;
    }

    .fab-item{
        margin-right: 4px;
    }

    .fab-item:last-child{
        margin-bottom: 16px;
    }
}


.action-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
     z-index: 30000;
}

/* FAB Container */
.fab-container {
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
   
}

.fab-item {
    width: 48px;
    height: 48px;
    font-size: 24px;
    margin-right: 10px;
    color: white;
    background-color: #36454F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.fab-item:last-child{
    margin-bottom: 16px;
}

.fab-item:not(:last-child) {
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    position: absolute;
}

.fab-container.fab-expanded .fab-item:not(:last-child) {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    position: relative;
}

.fab-item:not(:last-child) {
    margin-bottom: 10px;
}


.bottom-sheet {
    width: 720px;
    background: #fafafa;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 50000;
}


.bottom-sheet.active {
    transform: translateY(0);
    opacity: 1;
}


/* .bottom-sheet.active>* {
    padding: 20px;
} */

.sheet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    z-index: 50000;
    /* border-bottom: 1px solid #ddd; */
}

.sheet-header .btn-close {
    margin-left: auto;
}

.btn-close,
.btn-close:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.form-check-input:focus, .form-control:focus{
    border: 1px solid #ddd;
    outline: none;
    box-shadow: none;
}

#save-memo-btn {
    margin-left: auto;
}

.g-button{
    
}

.memo-check{
    height: 21px;
    width: 21px;
}

.memo-edit-status{
    font-size: xx-small;
}

.toast-container{
    z-index: 50000;
}

.text-small{
    font-size: 14px;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}